<h1>Welcome</h1>
<p>Congratulations on your foolhardy decision to use the guacamonium blogging engine to publically air your pretensions that anyone gives a shit what you think. Woe! Woe now, for ahead of you lie tribulations and despair.</p>
<p>The first thing you will need to do is set up a login for youself. This login will be created as an Editor, or admin if you like, of your first blog. You can create other Editor accounts later, but this one will be different. Because it is the first!</p>
<p><%= ("Come now, proceed onwards to " + link_to("create an editor account", :action=>'editor')) if @requires_editor  %>.</p>	